* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif; }

:root { 
    --bg1: #212121;
    --bg2: #AAAAAA;
    --boder: #303030;
    --youtube: #FF0000;
}

body {
    color: white;
}
button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;

}
.main-wrap {
    display: flex;
    flex-direction: column;
    width: 1200px;
}
.banner {
    display: flex;
    flex-direction: column;

}
.main-banner {
    width: 1200px;
    height: 192px;
}
.banner-info-wrap {
    display: flex;
    justify-content: space-between;
    background: #181818;
}
.info-left {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 16px 0 4px 65px;
}
.namesubs {
    display: flex;
    flex-direction: column;
}
.channel-name { font-size: 24px; color: white; }
.channel-subs { font-size: 14px; color: var(--bg2); }
.subcribes-btn { margin: 16px 65px 4px 0; }

/* tabs */
.tabs { padding-left: 65px; background: #181818;}
.tab-content {  background: black; }
.tab-input { display: none; }
.tab-item {
    padding: 12px 16px;
    color: var(--bg2);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 32px 15px 32px;
}

.tab-input:checked + .tab-item { color: white; border-bottom: 1px solid white; }
/* 콘텐츠 기본은 숨김 */
.tab-content { display: none; }

/* checked -> 컨텐츠 보이기 */
body:has(#tab-home:checked) #content-home,
body:has(#tab-videos:checked) #content-videos,
body:has(#tab-playlists:checked) #content-playlists,
body:has(#tab-community:checked) #content-community,
body:has(#tab-channels:checked) #content-channels,
body:has(#tab-about:checked) #content-about {
    display: block;
}

/* 비디오 */
.video-box { display: flex; gap: 24px; padding: 24px 287px 24px 65px; }
.player {
    position: relative;
    width: 424px;
    height: 238px;
}
.player-img {
    width: 424px;
    height: 238px;
    display: block;
}
.player-frame {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    color: white;
    font-size: 14px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,0));
}
.player-title { font-size: 14px; margin: 14px 0 0 16px; }
.player-info-icon { margin: 14px 16px 0 0; }

.player-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    height: 40px;
    background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
}


/* 좌측 그룹: 재생/다음/볼륨/시간 */
.ctr-left {
    display: flex;
    align-items: center;
    gap: 10px; /* 16px -> 10px */
}
.ctr-left .play-btn { padding-left: 10px;}

.ctr-left .time {
    margin-left: 6px;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}

.player-settings {
    display: flex;
    align-items: center;
    gap: 14px; /* 20px -> 14px */
}

.player-controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;  /* 28px -> 20px */
    height: 20px; /* 28px -> 20px */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    opacity: 0.9;
    transition: opacity 0.15s;
}

.player-controls button:hover {
    opacity: 1;
}

.player-controls button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.play-btn img {
    width: 16px;
    height: 16px;
}



/* 재생바 */
.progress-bar {
    position: relative;
    width: 95%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    z-index: 100;
    bottom: 42px;
    margin-left: 10px;
}
.buffered {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.5);
}
.played {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 33%;
    background-color: #ff0000;

}
.handle {
    position: absolute;
    top: 50%;
    left: 33%;
    width: 12px;
    height: 12px;
    border-radius: 50%;

}

.video-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 88px 0;
}
.video-desc h2 { font-size: 14px; font-weight: bold; color: white;}
.video-desc .desc-view {  font-size: 13px; font-weight: bold; color: var(--bg2); padding: 20px 0 19px 0; }
.video-desc .desc-detail { font-size: 14px; font-weight: 400; color: white;}

/* 플레이리스트 */
.playlist {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 1px 65px;
}
.playlist-part { display: flex; border-top: 1px solid var(--boder); }

.list-wrap {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 8px;
}
.list-wrap > span { font-size: 16px; font-weight: bold; padding: 9px 0 8px 0; }
.play-all { padding: 6px 0 6px 0; display: flex; color:#AAAAAA; align-items: center; justify-content: center; }

.playlist-part-wrap { display: flex; }
.playlist-item {
    border: 1px solid blue;
    width: 210px;
}
.playlist-item img {
    height: 118px;
}