* { padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

:root { 
    --bg1: #212121;
    --bg2: #AAAAAA;
    --boder: #303030;
    --youtube: #FF0000;
}
a {
    text-decoration: none;
}

body {
    background: var(--bg1);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg1);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    height: 56px;
    z-index: 1000;
}

.hd-sec1 { 
    display: flex;
    align-items: center;
    height: 56px; width: 169px; 
    margin-inline-start: 16px;
    flex-shrink: 0;
}
.hamburger { width: 40px; height: 40px; padding: 8px; margin-top: 8px; margin-bottom: 8px; flex-shrink: 0;}
.hamburger-input { display: none; }

.main-logo { display: flex; align-items: center; padding: 18px 14px 18px 16px;}
.main-logo img { width: 90px; height: 20px; }

/* 검색 바 */
.hd-sec2 { 
    display: flex;
    align-items: center;
    gap: 4px;
    width: 470px; height: 40px; }
.searchbar { 
    display: flex;
    align-items: center;
    width: 426px;
    height: 40px;
    padding: 0;
    border: 3px solid var(--boder);
    overflow: hidden;
    border-radius: 2px;
    box-sizing: border-box;
}

.searchbar input {
    flex: 1;
    height: 100%;
    padding: 0 12px;
    border: none;
    outline: none;
    background: var(--bg1);
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
}

.searchbar input::placeholder { color: var(--bg2) }
.searchbar button {
    flex: 0 0 64px;
    height: 100%;
    border: none;
    border-left: 1px solid var(--boder); 
    background: #303030; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}
.searchbar button img { width: 24px; height: 24px; }

.mic-btn {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mic-btn img { width: 40px; height: 40px; padding: 8px; }
.mic-btn:hover { background: #2c2b2b; }


.hd-sec3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.h-nav { 
    display: flex;
    gap: 8px;
    align-items: center;
    list-style-type: none;
    padding: 8px 16px 8px 8px;
    margin: 0;
}

.create-btn,.apps-btn,
.notification-btn { 
    width: 40px; height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-btn img,
.apps-btn img,
.notification-btn img { 
    width: 24px; height: 24px;

}


.profile-btn img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


.body-wrap {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
     /* 헤더 높이만큼 아래로 밀어줌 */
    padding-top: 56px;
}
/* 사이드바 열렸을 때 뒷배경을 어둡게 하는 오버레이 */
.sidebar-overlay {
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 400;      /* sidebar(500)보다는 낮고, 본문보다는 높게 */
    cursor: pointer;
}
.main-aside-wrapper {
    display: flex;
    gap: 24px;
    justify-content: center;
    background-color: #181818;

}
.main {
    width: 664px;
    padding: 24px 0 0 24px;
}
button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}
ul {
    list-style: none;
}
li, button {
    list-style: none;
}



.player {
    position: relative;
}
/* 상단 그라데이션 */
.player::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,0));
    pointer-events: none;   /* 클릭/터치가 아래 요소로 그대로 전달되게 */
    z-index: 10;
}
/* 하단 그라데이션 */
.player::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
    pointer-events: none;
    z-index: 10;
}
.player img {
    width: 100%;
    display: block;
}
.player-frame {
    position: absolute;
    top: 14px;
    left: 16px;
    right: 16px;
    color: white;
    font-size: 14px;
    justify-content: space-between; 
    display: flex;
    align-items: center;
}
.player-info-icon {
    width: 20px;
    height: 20px;
}
.player-controls {
    position: absolute;
    bottom: 8px;
    left: 6px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.player-controls-left {
    display: flex;
    align-items: center;
}
.player-play-btn {
    width: 13px;
    height: 16px;
    margin-left: 29px;
}
.player-next-btn {
    width: 12px;
    height: 12px;
    margin-left: 28px;
}
.player-volume-btn {
    width: 13.25px;
    height: 16px;
    margin-left: 20px;
}
.player-time {
    font-size: 13px;
    margin-left: 19.75px;
    color: white;
}
.player-settings {
    display: flex;
}
.player-caption-btn {
    width: 18px;
    height: 14px;
    margin-right: 20px;
}
.player-quality-btn {
    width: 20px;
    height: 16px;
    margin-right: 13px;
}
.player-theater-btn {
    width: 20px;
    height: 14px;
    margin-right: 15px;
}
.player-miniplayer-btn {
    width: 22px;
    height: 18px;
    margin-right: 17px;
}
.player-fullscreen-btn {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.progress-bar {
    position: relative;
    width: 97%;
    height: 3px;
    left: 6px;
    right: 12px;
    bottom: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    z-index: 100;
}
.progress-buffered {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 49%;
    background-color: rgba(255, 255, 255, 0.5);
}
.progress-played {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 32%;
    background-color: #ff0000;

}


.video-details {
    display: flex;
    flex-direction: column;
    padding: 20px 0 8px 0;
}
.details-title {
    color: white;
    font-weight: 400;
} 

.details-statsgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details-stats {
    color: var(--bg2);
    font-size: 14px;
    font-weight: 700;
}
.details-actions {
    display: flex;
    align-items: center;
}
.details-actions button {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 4px;
}
.details-actions span {
    display: inline-block;
    color: white;
}
.details-like img {
    width: 24px;
    height: 24px;
}

.channel-info {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.channel-info-wrapper {
    display: flex;
    border-top: 1px solid var(--boder);
    padding-top: 16px;
}
.info-avatar {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}
.channel-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.info-name {
    font-size: 14px;
    color: white;
}
.info-subscribers {
    font-size: 12px;
    color: var(--bg2)
}
.info-description {
    font-size: 14px;
    color: white;
    padding: 12px 0 0 64px;
}
.info-show-more {
    font-size: 12px;
    color: var(--bg2);
    padding: 8px 0 0 64px;
}
.comment {
    border-top: 1px solid var(--boder)
}
.cm-header {
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 24px 0;
}
.cm-count {
    font-size: 16px;
    color: white;
}
.sort {
    display: flex;
    align-items: center;
}
.sort-btn {
    width: 24px;
    height: 24px;
}
.sort-label {
    font-size: 14px;
    color: white;
}
.cm-input {
    display: flex;
    /* align-items: center; */
    margin-bottom: 32px;
}
.cm-input-avatar {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
.cm-field-wrapper {
    display: flex;
    width: 584px;
    align-items: center;
    padding-top: 5px;
}
.cm-field {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--boder);
    outline: none;
    color: white;
    width: 100%;
    font-size: 14px;
    padding-bottom: 5px;
}
.cm-item {
    display: flex;
    gap: 16px;
}
.cm-item-avatar {
    width: 40px;
    height: 40px;
}
.cm-item-header {
    padding-bottom: 2px;
}
.cm-name {
    font-size: 13px;
    font-weight: 700;
    color: white;
}
.cm-timestamp {
    font-size: 12px;
    color: var(--bg2);
}
.cm-item-text {
    font-size: 14px;
    color: white;
    padding: 2px 0;
}
.cm-item-actions {
    display: flex;
    align-items: center;
}
.like {
    padding: 8px;
}
.like img {
    width: 16px;
    height: 16px;
}
.likecount {
    font-size: 12px;
    color: var(--bg2);
    padding-right: 8px;
}
.dislike {
    padding: 8px;
}
.dislike img {
    width: 16px;
    height: 16px;
}
.reply {
    font-size: 12px;
    color: var(--bg2);
    padding: 8px 16px;
}
.rm-list {
    display: flex;
    flex-direction: column;
    width: 426px;
    padding: 24px 24px 0 0;
}
.rm-list__filters {
    display: flex;
    align-items: center;
    gap: 8px;
}
.rm-filter-input {
    display: none;
}
.rm-list__filter-chip {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;      /* 직접 지정 */
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 32px;
    font-size: 14px;
    color: var(--bg2);
    background-color: #272727;
    white-space: nowrap;
    margin: 8px 0;
}
.rm-filter-input:checked + .rm-list__filter-chip {
    color: #000;
    background-color: white;
}
.rm-list__items {
    display: flex;
    flex-direction: column;
}

.video-card {
    display: flex;
    align-items: flex-end;
    width: 402px;
    height: 102px; 
}
.video-card__thumbnail {
    width: 168px;
    height: 94px;
    margin-right: 8px;
}
.video-card__thumbnail-image {
    width: 100%;
    height: 100%;
}
.video-card__info {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    width: 226px;
    height: 94px;
    justify-content: center
}
.video-card__title {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 6px;
}
.video-card__channel {
    font-size: 12px;
    color: var(--bg2);
    margin-bottom: 4px;
}
.video-card__meta {
    font-size: 12px;
    color: var(--bg2);
}